.table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

.baris, .kolom {
    background: white;
}

.kolom:hover {
  box-shadow:2px 0px 10px 0px #F4F4F4;
  border: 1px solid #68a2ff;
}
.kolom{
  border: 1px solid #F4F4F4;
}